body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  width: 100%;
  color: #000;
  mix-blend-mode: normal;
  background-color: rgba(221, 221, 221, 0);
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.brand {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.nav-menu {
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  padding: .5% 1% 0%;
  display: flex;
}

.menu-logo-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 10%;
}

.nav-links-wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.underline {
  width: 0%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link-block {
  margin-bottom: 1em;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.link-block.less-margin {
  margin-bottom: .25em;
}

.logo {
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10vw;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.logo.nav-top {
  font-family: Helvetica, sans-serif;
  left: 80px;
}

.logo.nav {
  color: #000;
  font-size: 1vw;
  font-weight: 700;
  display: flex;
}

.logo.nav.open {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Helvetica, sans-serif;
  display: block;
}

.logo.nav.light, .logo.nav.close {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: -100%;
}

.logo.nav.dark {
  opacity: 1;
  mix-blend-mode: difference;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Helvetica, sans-serif;
  position: relative;
}

.logo.nav-bottom {
  font-family: Helvetica, sans-serif;
}

.menu-circle {
  width: .65rem;
  height: .65rem;
  background-color: #000;
  border-radius: 9999px;
  margin-bottom: 3px;
  margin-left: .4rem;
}

.full-menu {
  width: 100vw;
  height: 100vh;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  transform-origin: 50% 100%;
  mix-blend-mode: exclusion;
  background-color: #000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.menu-button-text-wrapper {
  flex-direction: column;
  align-items: flex-end;
  padding-left: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.link {
  color: #fff;
  font-size: 3vw;
  line-height: 1;
}

.link.static {
  transform-origin: 50%;
  font-family: Helvetica, sans-serif;
}

.link.smaller {
  font-family: Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
}

.link.absolute {
  font-style: italic;
  position: absolute;
  top: auto;
  bottom: -100%;
  left: 0%;
  right: 0%;
}

.menu-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10% 1% 5%;
  display: flex;
}

.menu-trigger {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.foto {
  width: 50%;
  max-width: none;
  transform: rotate(0);
}

.body {
  align-items: center;
  display: block;
  overflow: hidden;
}

.slider {
  width: 90%;
  height: auto;
}

.heading {
  width: 90%;
  color: #000;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.1;
}

.heading.bold {
  margin-top: 3%;
  font-weight: 400;
}

.heading.bold._100 {
  width: auto;
  text-transform: uppercase;
}

.heading.bold._100.no-p {
  margin-top: 0%;
  margin-bottom: 0%;
}

.heading.bold.no-pad {
  width: auto;
  margin-top: 0%;
  margin-bottom: 0;
}

.heading.bld {
  color: #fff;
  text-shadow: 0 0 20px #000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 1.1;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block {
  z-index: 4;
  height: 10vh;
  align-items: center;
  padding-left: 1%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.slider-copy {
  width: 100%;
  height: 35%;
}

.div-block-2 {
  width: 30%;
  height: auto;
  margin-bottom: 40px;
}

.div-block-3 {
  width: 30%;
}

.half-copy {
  width: 42%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
  padding-top: 0%;
  display: flex;
}

.sectio-v3 {
  width: 100%;
  height: auto;
  display: flex;
}

.div-block-4 {
  width: 40%;
  height: 100%;
}

.div-block-4._20 {
  width: 20%;
}

.div-block-4._20.hide {
  display: block;
}

.div-block-4._20.hide.hide2 {
  display: none;
}

.div-block-4._60 {
  width: 60%;
}

.div-block-4._30 {
  width: 30%;
}

.div-block-4._35 {
  width: 35%;
}

.div-block-4._35.hide._40 {
  width: 40%;
}

.div-block-4._25 {
  width: 25%;
}

.div-block-4._25.hide, .div-block-4.hide2 {
  display: block;
}

.section-hide {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.wrapper-hide {
  width: 100%;
  height: 33%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hide-div-1, .hide-div-2, .hide-div-3, .hide-div-4, .hide-div-5, .hide-div-6, .hide-div-7, .hide-div-8, .hide-div-9 {
  width: 33%;
  height: 100%;
}

.photo-wrapper-abs {
  z-index: -1;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.image-1, .image-22, .image-33, .image-44, .image-55, .image-66, .image-77, .image-88 {
  width: 27%;
  display: none;
  position: absolute;
}

.image-00 {
  width: 27%;
  display: block;
  position: absolute;
}

.preloader {
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-2 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Helvetica, sans-serif;
  font-size: 3vw;
  font-weight: 400;
  line-height: 1;
  position: static;
}

.lightbox-link-2, .lightbox-link-3, .lightbox-link-4, .lightbox-link-5, .lightbox-link-6, .lightbox-link-7, .lightbox-link-8, .lightbox-link-9, .lightbox-link-10, .lightbox-link-11, .lightbox-link-12, .lightbox-link-13 {
  position: relative;
}

.body-2.noscroll {
  overflow: hidden;
}

.sec-about {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  position: relative;
}

.bio {
  width: 100%;
  height: 50%;
  align-items: flex-end;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
}

.contact {
  width: 100%;
  height: 50%;
  align-items: flex-end;
  padding-bottom: .5%;
  display: flex;
  position: relative;
}

.con-wrapper {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.title {
  align-items: flex-end;
  display: flex;
}

.mail-insta {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.link-block-2 {
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
  display: inline-block;
}

.dmdesigns {
  color: #a09b9b;
  margin-top: 0;
  margin-bottom: 0%;
  padding-top: .5%;
  padding-bottom: 0%;
  font-family: Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1;
  position: static;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.link-2 {
  color: #b1b1b1;
  text-decoration: none;
  position: static;
}

.div-block-5 {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.heading-copy {
  width: 90%;
  color: #000;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.1;
}

.heading-copy.bold {
  margin-top: 3%;
  font-weight: 400;
}

.heading-copy.bold._50 {
  width: 50%;
}

.gif {
  width: 27%;
  display: none;
  position: absolute;
}

.lightbox-link-14 {
  position: relative;
}

.loader_number {
  color: #000;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 5vw;
  line-height: 1;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.image-99 {
  width: 27%;
  display: none;
  position: absolute;
}

.body-3 {
  overflow: hidden;
}

.lightbox-link-15 {
  position: relative;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    padding: .5% 2% 0%;
  }

  .menu-logo-wrapper {
    margin-right: 2%;
    display: flex;
    right: 0%;
  }

  .logo.nav-top {
    font-size: 10vw;
    left: 0;
  }

  .logo.nav.open, .logo.nav.light, .logo.nav.close, .logo.nav.dark {
    font-size: 2vw;
  }

  .menu-circle {
    width: .7rem;
    height: .7rem;
    margin-left: .3rem;
  }

  .full-menu {
    display: none;
  }

  .link.static {
    font-size: 4vw;
  }

  .link.smaller {
    font-size: 2vw;
  }

  .link.absolute {
    font-size: 4vw;
  }

  .menu-content {
    padding-left: 2%;
    padding-right: 2%;
  }

  .menu-trigger {
    padding-top: 0%;
    padding-bottom: 0%;
  }

  .slider {
    width: 100%;
  }

  .heading {
    width: 100%;
    font-size: 14px;
  }

  .heading.bold, .heading.bld {
    font-size: 2vw;
  }

  .div-block {
    margin-right: 0;
    padding-left: 2%;
  }

  .slider-copy, .div-block-2, .div-block-3, .half-copy {
    width: 100%;
  }

  .sectio-v3.mar-10 {
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
  }

  .sectio-v3.mar-10.new {
    margin-top: 10%;
  }

  .sectio-v3.mar-2 {
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
  }

  .div-block-4 {
    width: auto;
  }

  .div-block-4._20 {
    width: 100%;
    display: block;
  }

  .div-block-4._20.hide, .div-block-4._60.hide, .div-block-4.hide {
    display: none;
  }

  .div-block-4._30 {
    width: auto;
  }

  .div-block-4._30.hide {
    display: none;
  }

  .div-block-4._35 {
    width: auto;
  }

  .div-block-4._35.hide {
    display: none;
  }

  .div-block-4._25 {
    width: auto;
    display: block;
  }

  .div-block-4._25.hide, .div-block-4.hide2 {
    display: none;
  }

  .image-00 {
    width: 37%;
    display: none;
  }

  .heading-2 {
    font-size: 38px;
  }

  .body-2 {
    overflow: visible;
  }

  .sec-about {
    padding-left: 2%;
    padding-right: 2%;
  }

  .bio {
    align-items: center;
  }

  .mail-insta {
    align-items: flex-start;
  }

  .link-block-2 {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .dmdesigns {
    margin-bottom: 1%;
    font-size: 14px;
  }

  .heading-copy {
    width: 100%;
    font-size: 14px;
  }

  .heading-copy.bold._50 {
    width: 100%;
  }

  .gif {
    width: 37%;
    display: block;
  }

  .loader_number {
    font-size: 7vw;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    padding-left: 0;
  }

  .menu-logo-wrapper {
    margin-right: 2%;
    right: 0%;
  }

  .logo.nav-top {
    left: 0;
  }

  .logo.nav.open, .logo.nav.light, .logo.nav.close, .logo.nav.dark {
    font-size: 14px;
  }

  .menu-circle {
    width: .6rem;
    height: .6rem;
    margin-left: .3rem;
  }

  .heading.bold, .heading.bld {
    font-size: 14px;
  }

  .div-block {
    width: 98%;
    margin-right: 0%;
    padding-left: 2%;
  }

  .image-00 {
    width: 41%;
  }

  .mail-insta {
    align-items: flex-start;
  }

  .dmdesigns {
    font-size: 14px;
  }

  .gif {
    width: 41%;
  }

  .loader_number {
    font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-left: 2%;
    padding-right: 2%;
  }

  .brand {
    padding-left: 0;
  }

  .nav-menu {
    justify-content: space-between;
    padding: 1% 0% 3%;
  }

  .menu-logo-wrapper {
    margin-right: 2%;
    right: 0%;
  }

  .logo.nav-top {
    left: 0;
  }

  .logo.nav.open {
    font-size: 14px;
    line-height: 1;
  }

  .logo.nav.light, .logo.nav.close, .logo.nav.dark {
    font-size: 14px;
  }

  .menu-circle {
    width: .6rem;
    height: .6rem;
    margin-left: .2rem;
  }

  .link.static {
    font-size: 6vw;
  }

  .link.smaller {
    font-size: 4vw;
  }

  .link.absolute {
    font-size: 6vw;
  }

  .menu-content {
    padding-top: 25%;
    padding-bottom: 9%;
  }

  .menu-trigger {
    align-items: center;
  }

  .heading {
    font-size: 13px;
    line-height: 1.1;
  }

  .heading.bold {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .heading.bold.no-pad {
    margin-top: 0%;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .div-block {
    width: 98%;
    height: 8vh;
    margin-left: 2%;
    padding-left: 0%;
  }

  .half-copy {
    width: 98%;
  }

  .sectio-v3.mar-10.new {
    margin-top: 20%;
  }

  .image-00 {
    width: 53%;
    max-width: none;
    display: none;
  }

  .preloader {
    display: none;
  }

  .heading-2 {
    text-align: center;
  }

  .bio {
    align-items: center;
  }

  .contact {
    flex-direction: row;
    align-items: flex-start;
  }

  .con-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title {
    display: flex;
  }

  .mail-insta {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .dmdesigns {
    margin-bottom: 3%;
    font-size: 14px;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .div-block-5 {
    justify-content: flex-start;
  }

  .heading-copy {
    font-size: 13px;
    line-height: 1.1;
  }

  .heading-copy.bold {
    margin-top: 10%;
    font-size: 14px;
  }

  .gif {
    width: 60%;
    max-width: none;
    display: block;
  }
}


@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
